*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
}
#login-form {
    border-width: 0px;
    border-style: solid;
    width: 24%;
    padding: 20px;
    margin: auto ;
    border-radius: 15px;
    background-color: #fff;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);




}
.logreg{
  
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: center;
  position: relative;
    /* left: 5%; */
    padding-top: 20px;
    
}
.logreg button {
  width: 48%;
  margin: 0px 1%;
  margin-bottom: 10px;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 700;
}
.forgot button {
  width: 100%;
  margin: auto;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 700;
  background-color: #d62027;
  transition:  all 0.5 ease-in-out;
}
.forgot button:hover{
  background-color: rgb(143, 4, 4);
}
#connect{
  text-transform: capitalize;
    font-size: 18px;
    line-height: 24px;
    padding: 0px 0px 0px 0px;
    font-weight: 700;
}


.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    padding: 15px 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
  }
  
  .form-control option {
    color: #495057;
    background-color: #fff;
    border: none;
  }
  
  .form-control:after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #495057;
  }
  
  /* Style for the hover state */
  .form-control:hover {
    border-color: #6c757d;
  }
  
  /* Style for the focus state */
  .form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
  }
  

  .loginForm {
    background-image: url("../Images/bgimg.jpg");
    background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }






#Login{
  text-transform: uppercase;
  font-size: 28px;
  line-height: 32px;
  color: #085694;
  /* border-bottom: 1px solid #999; */
}

  .welcome {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.welocme_message h1 {
  text-transform: uppercase;
  font-size: 22px;
  display: none;
}
.welocme_message h1 span {
  display: block;
  text-align: center;
  color: #000000;
}
.input_itm {
  width: 400px;
  margin: auto;
}
.pass_itm {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
  

.box {
  text-align: center;
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 0;
}
.lable_wrap{
  width: 100%;
  border-radius: 0px;
}

.select {
  width: 100%;
  border-radius: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  margin-top: 7px;
}
.link_itm{
  
}
.link_itm:hover a{
  background-color: #085694;
  transform: rotate(360deg);
  color: #fff;
}
.face_itm:hover a{
  background-color: #085694;
  transform: rotate(360deg);
  color: #fff;
}
.insta_itm:hover a{
  background-color:#E1306C;
  transform: rotate(360deg);
  color: #fff;
}
.twite_itm:hover a{
  background-color: #1c9cea;
  transform: rotate(360deg);
  color: #fff;
}

.face_itm{
}
.insta_itm{
}
.twite_itm{
}
.social-icon{
  display: flex;
  justify-content: center;
  gap: 8px;
}
.social-icon a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  width: 40px;
  height: 35px;
  background-color: #ccc;
  border-radius: 50%;
  transition: 1s ease-in-out;
  padding: 9px 3px 0px 0px;
}