#login-form {
    border: black;
    border-width: 0px;
    border-style: solid;
    width: 830px;
    padding: 20px;
    margin: auto ;
    border-radius: 15px;
    background-color: white;
    height: 560px;
    margin-top: 86px;
  position: relative;
  outline:  thick ridge rgb(0, 0, 0);
  outline-offset: 0.5px;

}


.form-control {
    display: block;
    width: 200px;
    height: calc(2.5rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
  }
  
  .form-control option {
    color: #495057;
    background-color: #fff;
    border: none;
  }
  
  .form-control:after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: #495057;
  }
  
  /* Style for the hover state */
  .form-control:hover {
    border-color: #6c757d;
  }
  
  /* Style for the focus state */
  .form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
  }
  

  /* .loginForm {
    background-image: url("../Images/bgimg.jpg");
    background-size: cover;
  } */








.welcome {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
  

.box {
  text-align: center;
}

.main {
  margin-bottom: 8px;
}

.select {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  margin-top: 7px;
}